
h1.page-title.soho-headline {
	text-transform: lowercase;
	letter-spacing: 1.4px;
	position: relative;
	color: #6d6d6d;
}

h1.page-title.soho-headline:first-letter{
	 color: #ff05c4;
}
h1.page-title.soho-headline:after{
	
	content: "";
	position: absolute;
	background-color: gray;
	width: 22px;
	height: 4px;
	left: 0;
	bottom: -12px;
}